body {
  overflow-x: hidden;
}

body .drivers-mode {
  color: #FFC107;
  background-color: #FFC107;
}

section {
  padding: 1rem;
}

span {
  color: #FF3F3F;
}

h1 {
  font-weight: 800;
  color: #1E1E1E;
  font-size: 4rem;
}

.gray-section {
  background-color: #f6f6f6;
  width: 100%;
}

.subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #1E1E1E;
  font-size: 0.9rem;
}
.subtitle-bold {
  font-weight: 600;
  font-size: 1rem;
}
.subtitle-big {
  font-size: 1.25rem;
  font-weight: 400;
}
.subtitle-big-big-bold {
  font-size: 1.5rem;
  font-weight: 600;
}

.hero {
  padding-top: 1rem;
  padding-bottom: 2 rem;
}
.hero-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title {
  font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
  font-weight: 900;
  position: relative;
}
.hero-word {
  position: relative;
  display: inline-block;
}
.hero .typewriter-wrapper {
  position: relative;
  display: inline-block;
}
.hero .sup-text {
  position: absolute;
  top: -20px;
  left: 50px;
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Montserrat", "Open Sans", "Roboto", sans-serif;
  font-style: italic;
  color: #FF3F3F;
  white-space: nowrap;
  overflow: hidden;
  width: 0ch;
  max-width: fit-content;
  border-right: 1px solid #ff4040;
  z-index: 2;
}
.hero .anim-typewriter {
  animation: typewriter 2.5s steps(8, end) 0.5s forwards, blinkTextCursor 0.5s steps(1) infinite;
}
@keyframes typewriter {
  from {
    width: 0ch;
  }
  to {
    width: 7ch;
  }
}
@keyframes blinkTextCursor {
  50% {
    border-color: transparent;
  }
}
.hero .caret-symbol {
  font-family: "Mr Dafoe", cursive;
  font-size: 0.5em;
  color: #ff4545;
  transform: translateY(-0.4em);
  margin-left: -0.1em;
  margin-right: 0.1em;
  position: absolute;
  left: 285px;
  top: 25px;
}

.active-button {
  background-color: #FF4140;
  border-radius: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
}
.active-button:hover {
  background-color: #0056b3;
  color: #fff !important;
}
.active-button > button {
  color: #fff;
}
.active-button > button:hover {
  color: #fff;
}

.logo {
  max-width: 100px;
  height: auto;
}

.navbar-spacing {
  display: flex;
  gap: 2rem;
}

.white-text {
  color: #fff;
}

.upper {
  padding-bottom: 10%;
}

.download-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
}
.download-section .download-buttons {
  display: inline-block;
  width: clamp(140px, 25vw, 200px);
  height: auto;
}
@media (max-width: 835px) {
  .download-section {
    flex-direction: column;
    align-items: start;
  }
  .download-section .download-buttons {
    width: 60%;
    max-width: 300px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DC3545;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FFC107;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFC107;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.section-title {
  font-weight: 700;
  font-size: max(18px, 3.125rem, 50px);
}

.line {
  width: 5em;
  height: 0.1em;
  background-color: #FF3F3F;
}

.background-circle {
  background-color: #FF3F3F;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  max-width: 5rem;
  max-height: 5rem;
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-pics {
  width: 2.5rem;
  height: 2.5rem;
}

.why-info-parts {
  padding: 0.5rem 0;
}

.info {
  padding: 1rem 0;
}
.info-title {
  margin: 0;
}
.info-sentence {
  margin: 0;
}

.safety-features-section .feature-row {
  position: relative;
}
.safety-features-section .feature-row::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 5%;
  width: 90%;
  height: 0.5rem;
  background-color: #FF3F3F;
  z-index: 0;
}
@media (max-width: 768px) {
  .safety-features-section .feature-row::before {
    display: none;
  }
}
.safety-features-section .feature-item {
  text-align: center;
  position: relative;
  z-index: 1;
}
.safety-features-section .feature-item .feature-icon {
  background-color: white;
  border: 0.3rem solid #FF3F3F;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}
.safety-features-section .feature-item .feature-title .faq-title {
  font-weight: 600;
  font-size: 1.5rem;
}
.safety-features-section .feature-item .feature-desc .faq-desc {
  font-size: 1rem;
  color: #444;
}

.red-section {
  background: linear-gradient(to right, rgb(202, 0, 0), rgb(153, 38, 38));
  text-align: center;
}

.faq-icon {
  width: 30px;
  height: 30px;
  background-color: #FF3F3F;
}

.contact-subtitle {
  font-size: 1.1rem !important;
  font-weight: 500;
}

.email-icon {
  width: 30px;
  height: 30px;
}
.email-link {
  text-decoration: none;
  color: #000;
}

.link {
  text-decoration: none;
  color: #000;
}

.social-icon > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.contact-button {
  width: 15rem;
  height: 4rem;
  border-radius: 10px !important;
}

#footer {
  background: linear-gradient(to right, #FF3F3F, #992626);
  color: white;
}
#footer h5 {
  font-size: 1.7rem;
}
#footer button img {
  width: 15rem;
  height: auto;
}

.quick-links {
  text-decoration: none;
  color: white;
  padding: 1rem 0;
}
.quick-links-ftext {
  font-size: 1rem !important;
  color: white;
}

.space-elements {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  border: 0;
}

.full-length {
  height: auto;
}
