section {
  padding: 1rem;
}

span {
  color: #FF3F3F;
}

h1 {
  font-weight: 800;
  color: #1E1E1E;
  font-size: 4rem;
}

.gray-section {
  background-color: #f6f6f6;
  width: 100%;
}

.subtitle {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #1E1E1E;
  font-size: 0.9rem;
}
.subtitle-bold {
  font-weight: 600;
  font-size: 1rem;
}
.subtitle-big {
  font-size: 1.25rem;
  font-weight: 400;
}
.subtitle-big-big-bold {
  font-size: 1.5rem;
  font-weight: 600;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 2 rem;
}
.hero-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-button {
  background-color: #FF4140;
  border-radius: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
}
.active-button:hover {
  background-color: #0056b3;
  color: #fff !important;
}
.active-button > button {
  color: #fff;
}
.active-button > button:hover {
  color: #fff;
}

.logo {
  max-width: 90%;
  height: 80%;
  width: calc(100% - 50vw);
}

.navbar-spacing {
  display: flex;
  gap: 2rem;
}

.white-text {
  color: #fff;
}

.upper {
  padding-bottom: 10%;
}

.download-buttons {
  width: 15rem !important;
  height: 100% !important;
}

.section-title {
  font-weight: 700;
  font-size: max(18px, 3.125rem, 50px);
}

.line {
  width: 5em;
  height: 0.1em;
  background-color: #FF3F3F;
}

.background-circle {
  background-color: #FF3F3F;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  max-width: 5rem;
  max-height: 5rem;
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-pics {
  width: 2.5rem;
  height: 2.5rem;
}

.safety-features-section .feature-row {
  position: relative;
}
.safety-features-section .feature-row::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 5%;
  width: 90%;
  height: 0.5rem;
  background-color: #FF3F3F;
  z-index: 0;
}
@media (max-width: 768px) {
  .safety-features-section .feature-row::before {
    display: none;
  }
}
.safety-features-section .feature-item {
  text-align: center;
  position: relative;
  z-index: 1;
}
.safety-features-section .feature-item .feature-icon {
  background-color: white;
  border: 0.3rem solid #FF3F3F;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}
.safety-features-section .feature-item .feature-title .faq-title {
  font-weight: 600;
  font-size: 1.5rem;
}
.safety-features-section .feature-item .feature-desc .faq-desc {
  font-size: 1rem;
  color: #444;
}

.red-section {
  background: linear-gradient(to right, rgb(202, 0, 0), rgb(153, 38, 38));
  text-align: center;
}

.faq-icon {
  width: 30px;
  height: 30px;
  background-color: #FF3F3F;
}

.contact-subtitle {
  font-size: 1.1rem !important;
  font-weight: 500;
}

.email-icon {
  width: 30px;
  height: 30px;
}
.email-link {
  text-decoration: none;
  color: #000;
}

.social-icon > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.contact-button {
  width: 15rem;
  height: 4rem;
  border-radius: 10px !important;
}
