// VARIABLES
$highlight-spans: #FF3F3F;
$image-size-col: (
  	max-width: 80%,
  	height: auto,
  	object-fit: fill
);

$main-title: (
	font-weight: 800,
	color: #1E1E1E,
	font-size: 4rem
	);

$subtitle: (
	font-family: '"Nunito", sans-serif',
	font-weight: 400,
	color: #1E1E1E,
	font-size: 0.9rem 
	);

$veehk-button: (
	background-color: #FF4140,
	border-radius: 3rem,
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
	padding: 0.5rem 2rem
	);

$logo-size: (
	max-width: 50%,
	height: 60%,
	width: calc(100% - 40vw)
	);



// Whole Body
span {
	color: $highlight-spans;
}

h1 {
  @each $prop, $val in $main-title {
    #{$prop}: #{$val};
  }}


// CLASS

// HERO SECTION
.subtitle{
	@each $prop, $val in $subtitle {
		#{$prop}: #{$val};
	}
	&-bold {
		font-weight: 600;
		font-size: 1rem;
	}
	&-big {
		font-size: 1.25rem;
		font-weight: 400;
	}
}

.hero {
	@each $prop, $val in $image-size-col{
		#{$prop}: #{$val};
	}
}

.active-button {
	@each $prop, $val in $veehk-button{
		#{$prop}: #{$val};
	}
	&:hover {
    background-color: #0056b3;
    color: #fff !important;
  }
  & > button {
  	color: #fff;
  	&:hover{
  		color: #fff;
  	}
  }
}

.logo {
	@each $prop, $val in $logo-size{
		#{$prop}: #{$val};
	}
}

.navbar-spacing {
  display: flex;
  gap: 2rem;
}

.white-text {
	color: #fff;
}

.upper {
	margin-bottom: calc(100vh - 50vw);
}

.download-buttons {
	width: calc(100% - 5vw) !important;
	height: 100% !important;
}


// HOW IT WOKRS SECTION
.section {

	&-title {
		font-weight: 700;
		font-size: max(18px, 3.125rem, 50px);
	}
}





