// VARIABLES
$highlight-spans: #FF3F3F;
$gray-section: #f6f6f6;
$main-title: (
	font-weight: 800,
	color: #1E1E1E,
	font-size: 4rem
	);

$subtitle: (
	font-family: '"Nunito", sans-serif',
	font-weight: 400,
	color: #1E1E1E,
	font-size: 0.9rem 
	);

$veehk-button: (
	background-color: #FF4140,
	border-radius: 3rem,
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
	padding: 0.5rem 2rem
	);

$logo-size: (
	max-width: 90%,
	height: 80%,
	width: calc(100% - 50vw)
	);

$equal-size: (
	max-width: 5rem,
	max-height: 5rem,
	min-width: 2rem,
	min-height: 2rem
	);



// Whole Body
section {
	padding: 1rem;
}
span {
	color: $highlight-spans;
}

h1 {
	@each $prop, $val in $main-title {
		#{$prop}: #{$val};
		}}


// CLASS
.gray-section{
	background-color: $gray-section;
	width: 100%;
}

// HERO SECTION
.subtitle{
	@each $prop, $val in $subtitle {
		#{$prop}: #{$val};
	}
	&-bold {
		font-weight: 600;
		font-size: 1rem;
	}
	&-big {
		font-size: 1.25rem;
		font-weight: 400;

		&-big-bold{
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
}

.hero {
	padding-top: 2rem;
	padding-bottom: 2 rem;
	&-img{
		&-col{
			display: flex;
			align-items: center;
  		justify-content: center; // remove if you only want vertical centering
  	}
  }
}

.active-button {
	@each $prop, $val in $veehk-button{
		#{$prop}: #{$val};
	}
	&:hover {
		background-color: #0056b3;
		color: #fff !important;
	}
	& > button {
		color: #fff;
		&:hover{
			color: #fff;
		}
	}
}

.logo {
	@each $prop, $val in $logo-size{
		#{$prop}: #{$val};
	}
}

.navbar-spacing {
	display: flex;
	gap: 2rem;
}

.white-text {
	color: #fff;
}

.upper {
	padding-bottom: 10%;
}

.download-buttons {
	width: 15rem !important;
	height: 100% !important;
}


// HOW IT WOKRS SECTION
.section {
	&-title {
		font-weight: 700;
		font-size: max(18px, 3.125rem, 50px);
	}
}

// WHY SECTION
.line {
	width: 5em;
	height: 0.1em;
	background-color: $highlight-spans;
}

.background-circle{
	background-color: $highlight-spans;
	border-radius: 50%;
	width: 20vw;
	height: 20vw;

	@each $prop, $val in $equal-size{
		#{$prop}: #{$val};
	}

	display: flex;
	align-items: center;
  justify-content: center; // remove if you only want vertical centering
}

.icon-pics{
	width: calc(5rem - 2.5rem);
	height: calc(5rem - 2.5rem);
}

// Safety Features Section
.safety-features-section {

  // .section-title {
  //   font-weight: 700;
  //   font-size: 4rem;
  //   span.highlight {
  //     color: #FF3F3F;
  //   }
  // }

  .feature-row {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 5%;
      width: 90%;
      height: 0.5rem;
      background-color: $highlight-spans;
      z-index: 0;
    }
    @media (max-width: 768px) {
		    &::before {
		      display: none;
		    }
 	 		}	
  }

  .feature-item {
    text-align: center;
    position: relative;
    z-index: 1;

    .feature-icon {
      background-color: white;
      border: 0.3rem solid $highlight-spans;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 1rem;
    }

    .feature-title .faq-title {
      font-weight: 600;
      font-size: 1.5rem;
    }

    .feature-desc .faq-desc {
      font-size: 1rem;
      color: #444;
    }
  }
}

// VEEHK MAP SECTION
.red-section{
	background: linear-gradient(to right,  rgba(202, 0, 0, 1), rgba(153, 38, 38, 1));
	text-align: center;
}

// FAQ SECTION
.faq-icon{
	width: 30px;
	height: 30px;
	background-color: $highlight-spans;
}

// CONTACT SECTION
.contact-subtitle{
	font-size: 1.1rem !important;
	font-weight: 500;
}

.email{
	&-icon{
		width: 30px;
		height: 30px;
	}

	&-link{
		text-decoration: none;
		color: #000;
	}
}

.social {
	&-icon > img {
		width: 30px;
		height: 30px;
		object-fit: contain;
	}
}

.contact-button{
		@each $prop, $val in veehk-button{
			#{$prop}: #{$val};
		}
		width: 15rem;
		height: 4rem;
		border-radius: 10px !important;
}

// FOOTER SECTION
#footer{
	background: linear-gradient(to right, #FF3F3F, #992626);
	color: white;
}

.quick-links{
	text-decoration: none;
	color: white;
	padding: 1rem 0;
}










